@font-face {
  font-family: 'PPFormula-black';
  src: url('/fonts/PPFormula-Compressed.woff2') format('woff2'),
      url('/fonts/PPFormula-Compressed.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPFormula-bold';
  src: url('/fonts/PPFormula-Extrabold.woff2') format('woff2'),
      url('/fonts/PPFormula-Extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPFormula-medium';
  src: url('/fonts/PPFormula-ExtendedMedium.woff2') format('woff2'),
      url('/fonts/PPFormula-ExtendedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPFormula-extended';
  src: url('/fonts/PPFormula-SemiExtendedBold.woff2') format('woff2'),
      url('/fonts/PPFormula-SemiExtendedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'PPFormula-light';
  src: url('/fonts/PPFormula-Light.woff2') format('woff2'),
      url('/fonts/PPFormula-Light.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
