@layer base {
  * {
    @apply font-pp-medium text-black-full;
  }

  h1 {
    @apply font-pp-black text-black-full text-64 uppercase;

  }
  
  h2, h3, h4, h5, h6 {
    @apply font-pp-bold uppercase
  }
  
  h2 {
    @apply text-24;

    @screen lg {
      @apply text-30;
    }
  }

  h3 {
    @apply text-20 uppercase;

    @screen lg {
      @apply text-18;
    }
  }
  
  strong {
    @apply font-pp-bold;
  }

  p, span, li, a {
    @apply text-16;
  }

  div > a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

}